ul.link{
  list-style-type: square;
}
il{
  color: rgba(255, 80, 114, 1);
  font-size: 28px;
  display: list-item;
}
il.link{
  color: rgba(255, 80, 114, 1);
  font-size: 28px;
  display: inline;
}
a {
text-decoration: none;
display: inline-block;
width: 500px;
text-align: center;
line-height: 3;
color: rgba(255, 80, 114, 1);
border-color: rgba(255, 80, 114, 1);
border: solid;
}
a:link, a:visited, a:focus {
 background: rgb(255, 224, 230); }
a:hover {
 background: #FF98AC; }
a:active {
 background: rgba(255, 80, 114, 1);
 color: white; }
body.pages{
  background-color: rgb(255, 224, 230);
}
h2{
  text-align: left;
  color: rgba(255, 80, 114, 1);
}
.pic{
  text-align: center;
}
table{
  border: 1px solid rgba(255, 80, 114, 1);
  border-collapse: collapse;
  color: rgba(255, 80, 114, 1);
  width: 1000px;
}
td {
 border: 1px solid rgba(255, 80, 114, 1);
}
p.serious
{
  color: rgba(255, 80, 114, 1);
  font-size: 28px;
}
