.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    overflow: hidden;
  }
  .header__main-illustration {
    height: 608px;
    width: 765px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    object-fit: cover;
}
